/* universal Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.container {
    display: flex;
}

/* Sidebar Styles */
.sidebar {
   
    width: 250px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    padding-top: 10px; 
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.logo img {
    width: 35px;
    margin-right: 10px;
}

.logo span {
    font-size: 18px;
    font-weight: bold;
    color: #1e91c0;
}

.menu {
    list-style: none;
    padding: 0;
    margin-top: 40px ;
    margin-bottom: 350px;
}

.menu li {
    margin: 20px 0 ;
    
    padding: 10px 15px;
    cursor: pointer;
    color: #333;
}

.menu li.active {
    background-color: #eaf4fd;
    color: #2b819f;
}

.menu li:hover {
    background-color: #f1f1f1;
}
/* I am adding this is to remove the underline */
.menu li a {
    color: inherit;
    text-decoration: none;
    }

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header h1 {
    font-size: 40px;
    padding-top: 40px;
    margin-bottom: 5px;
}
.pera {
   
  font-size: small;
  color: #adacac;
}

.profile {
    margin-top: 10px;
    font-size: 14px;
    color: #2b819f;
    text-decoration: underline;
}

.avatars {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 5px;
}

.avatars img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.avatars p {
    margin-left: 10px;
    font-size: 12px;
    color: #2b819f;
}

.header .icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.transactions {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

table th {
    font-weight: bold;
    color:#2b819f;
}

table td {
    color: #333;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
    }
}


/* I am adding this to make the tbody scrollable */
.transactions {
    overflow-y: auto;
    max-height: 400px; /* Adjust the height as needed */
  }
  .transactions thead {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
 }
  /*   
  .transactions table {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  
  .transactions tbody {
    display: block;
    overflow-y: auto;
  }
  
  .transactions tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  } */
   