/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1e91c0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    
}

.form-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

h1 {
    
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 30px;
}

/* Form Layout */
form {
    width: 100%;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 13px;
    color: #070707;

    margin-bottom: 10px;
}

input,
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #f9f9f9;
    box-shadow: inset 0 1px 3px #1e91c0;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus,
select:focus {
    border-color: #1e91c0;
}


input[type="file"] {
    display: none; /* Hide the default file input */
    /* cursor: pointer; Change cursor to pointer for better UX */
}



/* Upload Box */
.upload-box {
    padding: 12px;
    text-align: center;
    border: 2px dashed #ddd;
    font-size: 14px;
    color: #777;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.upload-box:hover {
    border-color: #1e91c0;
    color: #333;
}

/* Action Buttons */
.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

button {
    padding: 8px 16px;
    border-radius: 4px solid #1e91c0;
    font-size: 16px;
    border: none;
    
    cursor: pointer;
    transition: all 0.3s ease;
}

.edit-button {
    border: 2px solid #1e91c0;
    background-color: #fffcfc;
    color: #1e91c0;
}

.register-button {
    background-color: #1e91c0;
    color: white;
}

.edit-button:hover {
    background-color: #fcf8f8;
}

.register-button:hover {
    background-color: #1e91c0;
    box-shadow: 0 4px 10px rgba(0, 91, 179, 0.3);
}

/* Responsive Design */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-actions {
        justify-content: center;
    }
}
